<h1>Oooh secrets</h1>

<p>(idk wut to put here lol)</p>

<h1>Me when the homepage</h1>

<li><a href="/register">Register</a></li>
<li><a href="/login">Login</a></li>
<li><a href="/logout">Logout</a></li>
